* {
  box-sizing: border-box;
}

.youtube-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50em;
  height: 4em;
  margin: 0 auto;
  background-color: black;
  color: white;
}
.youtube-logo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 0.5em;
}
.youtube-title {
  font-size: 1.5em;
  margin-right: 0.5em;
}
.youtube-search {
  width: 500px;
  height: 30px;
}
.search-btn {
  height: 30px;
  background-color: darkgray;
  color: white;
  border: none;
}

/* card */
.video-card {
  display: flex;
  list-style: none;
  border: 1px solid gray;
  margin: 0.2em;
}
.video-card-image img {
  max-width: 10rem;
}

/* Cards */
.video-cards {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  width: 50em;
  margin: 0 auto;
  padding: 0;
}
